.card.mt-2
  .card-body
    %h5.card-title= shop.name
    %h6.card-subtitle.mb-2.text-muted= shop.address
    .row
      .col-sm
        %button.btn.btn-light
          %i.fa.fa-thumbs-up
        %button.btn.btn-light
          %i.fa.fa-thumbs-down