%h2 当サービスの注意事項

%ul
  %li チャーハンのうまさを伝える為に始めたサービスである。
  %li このサービスに載せられるお店の基準は「うまい」を含む「リピート」したいかどうかを判断基準にしてほしい。
  %li 審査を裏側で行います。
  %li Badが5つ付いた場合は掲載が強制的に終了します。(いたずらと判断した場合は再掲いたします。)
  %li
    = link_to "#チャーハン部", Settings.instagram.url
    でInstagramで投稿してくれると喜びます。

%h3 開発について

%ul
  %li このサービスはPepro, LLCがオープンソースで開発しています。
  %li ソースを公開しています。もし不具合、バグに出会った場合は、PullRequestを作って投げてください！
  %li レビュー後よければMasterにマージします。
  %li
    Githubは
    = link_to "こちら!!", Settings.github.url