%h2 当サービスの注意事項

%p - チャーハンのうまさを伝える為に始めたサービスである。
%p - このサービスに載せられるお店の基準は「うまい」を含む「リピート」したいかどうかを判断基準にしてほしい。
%p - 審査を裏側で行います。
%p - Badが5つ付いた場合は掲載が強制的に終了します。(いたずらと判断した場合は再掲いたします。)
%p - #チャーハン部 でInstagramで投稿してくれると喜びます。
